# Created by .ignore support plugin (hsz.mobi)
### BoyirenJava template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.ra

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ project files
.idea/
*.iml
out/
gen

# GitHub
readme.md
README.md
!/readme.md
!/README.md
